@tailwind base;
@tailwind components;
@tailwind utilities;
@import '../theme/variables.css';
@import '../theme/typography.css';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  color: var(--colour-n400);
  font-size: 16px;
  text-wrap: pretty;
}

a {
  color: inherit;
  text-decoration: none;
}

dialog {
  color: inherit
}

button,
button>*,
*[role='button'] {
  cursor: pointer;
}

label {
  font-family: var(--font-epilogue);
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
}


nav a {
  color: var(--colour-g200);
  padding: 4px 0;
}

nav a.active {
  color: var(--colour-g300);
  border-bottom: 2px solid;
}

nav a.disabled {
  color: var(--colour-n200);
}

.carouselWrapper {
  display: grid;
  grid: auto / auto-flow max-content;
  align-items: center;
  /* vertical */
  gap: var(--dimensions-3);
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  scroll-snap-type: x mandatory;
}


.form__group {
  position: relative;
  padding: 1.25rem 0 0;
  margin: 0.75rem 0;
}

.form__field,
.form__field_select__control {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 1px solid var(--colour-n300);
  outline: 0;
  font-size: 1rem;
  line-height: 2;
  color: var(--colour-n400);
  padding: 0;
  background: transparent;
  transition: border-color 0.2s;
}

.form__field::placeholder {
  color: transparent;
}

.form__field:placeholder-shown~.form__label {
  font-size: 1rem;
  line-height: 1.125;
  cursor: text;
  top: 1.375rem;
}

.form__field_select__menu {
  background-color: var(--colour-white);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.05);
  border-radius: 0px 0px 8px 8px;
  padding: 0.5rem 1rem;
}

.form__field_select__option {
  margin: 1rem 0;
}

.form__field_select__single-value {
  /* display: flex; */
}

label.form__label,
.form__field:focus~.form__label {
  position: absolute;
  top: 0.25rem;
  display: block;
  transition: 0.2s;
  font-size: 0.75rem;
  color: #9b9b9b;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.form__field:focus~.form__label {
  color: #009788;
}

.form__field:focus {
  border-bottom: 1px solid #009788;
}

/* Selector wrapper */
.selector {
  display: block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 100%;
  width: 100%;
  background-color: transparent;
}

/* handling the browser's default checkbox */
.selector input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* creating a custom checkbox */
.selector__checkmark {
  position: absolute;
  border-radius: 100%;
  height: 100%;
  width: 100%;
  padding: 20%;
  background-color: var(--colour-content-disabled);

  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

/* When the checkbox is checked, add the theme background */
.selector input:checked~.selector__checkmark {
  background-color: var(--colour-g300);
}

/* Show the checkmark when checked */
.selector input:checked~.selector__checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.selector .selector__checkmark:after {
  content: '';
  width: 100%;
  height: 100%;
  display: none;
  background-size: contain;
  background-image: url('data:image/svg+xml;utf8,<svg width="10" height="9" viewBox="0 0 10 9" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.916748 5.08334L3.25008 7.41668L9.08341 1.58334" stroke="white" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"/></svg>');
  background-repeat: no-repeat;
  background-position: bottom center;
}