.base {
    width: 269px;
    height: 360px;
    flex-shrink: 0;
    border-radius: 1rem;
    mix-blend-mode: hard-light;
    position: relative;
    scroll-snap-align: center;
}
.contentWrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    padding: var(--dimensions-3) 0;
}
.labelWrapper {
    width: 100%;
    margin-top: auto;
    padding: 0 var(--dimensions-3);
    display: flex;
    justify-content: space-between;
    align-items: last baseline;
    gap: var(--dimensions-unit)
}
.label {
    font-size: 1.3125rem;
}
.iconWrapper {
    cursor: pointer;
}