.carouselWrapper {
    display: grid;
    grid: auto / auto-flow max-content;
    align-items: center; /* vertical */
    gap: var(--dimensions-3);
    flex-wrap: nowrap;
   overflow-x: auto;
   -webkit-overflow-scrolling: touch;
   -ms-overflow-style: -ms-autohiding-scrollbar; 
   scroll-snap-type: x mandatory;
}
.ctaWrapper {
    display: flex;
}
.ctaWrapper > *:not(:last-child) {
    margin-right: var(--dimensions-3);
}